.link
	text-decoration none
	text-transform uppercase
	color white
	font-size 0.8rem
	line-height 0.8rem

	&:hover
		text-decoration underline
		opacity 0.8

	&:active
		text-decoration none
		opacity 0.6

	&--img
		position relative
		margin 0 0 0 20px
		color color__brand
		font-size 0.6rem
		line-height 0.6rem

		& svg
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			fill color__grey
		
		&:hover 
			text-decoration none
			
			& svg 
				fill color__brand
				transition 0.8s			

	&--excel

		&:hover svg 
			fill color__green

.item .link
	color color__brand
	
@media(min-width: width__desktop)
	.link
		font-size 1rem
		line-height 1rem

	.section__head .link
		font-size 0.7rem
		line-height 0.7rem
