div(class='filters')
	div(class='filters__wrapper')
			label(class='filters__label' for='search-value-input') Найти контакт
			input(type='text' id='search-value-input' placeholder='Фамилия, отдел, должность, телефон...')
	div(class='filters__wrapper filters__wrapper--center')
		button(class='btn btn--search' id='search-btn' title='Искать')