// breakpoints
width__desktop = 780px

// colors
color__brand = #257CC1
color__blue = darkblue
color__lightblue = blue
color__green = green
color__red = darkred
color__grey = #5d5d5d

// fonts
font__root = 16px