p(class='hint hint--show')
	a(href='accounts.html' class='link link--img' title='К поиску аккаунтов')
		svg(width='16' height='16')
			use(xlink:href='#user')
p(class='hint hint--show')
	a(href='computers.html' class='link link--img' title='К поиску компьютеров')
		svg(width='16' height='16')
			use(xlink:href='#laptop')