div(class='hint' id='hint')
	h3(class='hint__label') При условии
	p 
		| computer
		b(class='hint__word--blue') .
		| description 
		span(class='hint__word--green') содержит 
		| owner
		b(class='hint__word--blue') .
		| sAMAccountName