@font-face
  font-family "effra-rg"
  font-weight normal
  font-style normal
  font-display swap
  src url("../fonts/Effra_W_Rg.woff2") format("woff2")
//   url("../fonts/GothamPro.woff") format("woff")

@import "blocks/mixin.styl";
@import "blocks/var.styl";

html, body
	margin 0
	height 100%

body
	font-family "effra-rg", Arial, sans-serif
	font-size font__root
	line-height 1em

ul
	list-style none
	margin 0
	padding 0

@import "blocks/btn/btn.styl";
@import "blocks/checkbox/checkbox.styl";
@import "blocks/filters/filters.styl";
@import "blocks/header/header.styl";
@import "blocks/hint/hint.styl";
@import "blocks/item/item.styl";
@import "blocks/link/link.styl";
@import "blocks/loader/loader.styl";
@import "blocks/nav/nav.styl";
@import "blocks/page/page.styl";
@import "blocks/radio/radio.styl";
@import "blocks/results/results.styl";
@import "blocks/section/section.styl";
@import "blocks/services-list/services-list.styl";