.section
	padding 14px 40px 0 40px

	&__hints
		display flex

		& .hint
			margin 0 20px 12px 0

	&__content
		margin 0
		padding 10px
		background linear-gradient(90deg, rgba(37, 124, 193, 0.6) 0%, rgba(37, 124, 193, 0.2) 100%)

	&__head
		margin 0 0 10px 0
		text-transform uppercase
		font-size 0.8rem
		line-height 0.8rem


@media(min-width: width__desktop)
	.section

		&__head
			font-size 1rem
			line-height 1rem